
    body {
        background-image: url("assets/images/paper.jpg");
        padding: 30px;
      }
  
      .navbar-light .navbar-nav .nav-link {
        color: #4f7a0d;
    }
    
    .navbar-light:hover .navbar-nav:hover .nav-link:hover {
        font-weight: bold;
        color: #4f7a0d;
    }
  
    #container {
      border-radius: 5px;
      background-color: white;
      padding: 10px;
  }

    h2 {
      color: teal;
      text-align: left;
      border: #666666;
  }

  hr {
    border-top: 1px solid #666666;
  }

      #map-section {
        padding-right: 90px;
        padding-left: 90px;
        padding-top: 0px;
        margin-top: 0px;

      }
  
      #wrapper1 {
        padding-top: 5px;
      }
  
      #map {
        padding-right: 100px;
        margin-right: 100px;
        padding-top: 1px;
        width: 55%;
        height: 505px;
        float: right;
      }
  
      #wrapper2 {
        padding-top: 5px;
        padding-left: 100px;
        padding-right: 10px;
        float: left;
        width: 35%;
      }
  
      #pac-input {
        height: 30px;
        width: 350px;
        font-size: 15px;
      }
  
      .btn {
        float: left;
        height: 35px;
        width: 80px;
        font-size: 15px;
      }
  
      #drivingDirections {
        padding-left: 60px;
        float: left;
        position: absolute;
        top: 310px;
        left: 400px;
        font-size: 18px;
      }
  
      a {
        color: black;
      }
  
      a:hover {
        color: blue;
      }
  
      #wrapper3 {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 10px;
        height: 400px;
        width: 500px;
        overflow: scroll;
      }
  
      .business-name {
        font-weight: bold;
        size: 1000px;
      }
